pug introduces the concept called template inheritance 

when we visit other pages of the website, nav bar, footer etc remain the same 

so we make the simple template of the website and fill header, title body etc,
as per the need of different page. 

(e.g. like in a bus pass form we only need 
to fill the details to distinguish different person else everything in form 
is same)

//- look for base.pug,home.pug, contact.pug, stylecontact.pug for live example
//- read this article https://pugjs.org/language/inheritance.html

base.pug becomes the template of website 
and pages like home.pug , contact.pug fill up the template as per their need.

//- we should serve different css file for home and different for other pages.

//- we change index.js by home.pug , no change will be noticed but everything now
//- is imported.