extends base.pug    
//- extends means, we are filling this file

block scripts
    script(src="/static/index.js") 

block style
    style 
        include ../static/style.css

block content 
    
    section#IntroSection 
        div Welcome to Natrajan Dance Academy 
        div.small Eat Sleep Dance Repeat

    section#MissionSection 
        h2 Our Mission
        div.card
            h4 Dance Perfection
            .card-box
                .card-img 
                    img(src="/static/img/img2.jpg", alt="")
                .card-content 
                    p This is the best dance academy of the universe
        div.card
            h4 Dance the Way you like
            .card-box
                .card-img 
                    img(src="/static/img/img3.png", alt="")
                .card-content 
                    p This is the best dance academy of the universe
        div.card
            h4 Best Teachers
            .card-box
                .card-img 
                    img(src="/static/img/img4.png", alt="")
                .card-content 
                    p This is the best dance academy of the universe
    section#SponsorsSection 
        h2 Our Sponsors
            #sponsors
                img(src="/static/img/logo3.png", alt="sponsor image" class="spimage")
                img(src="/static/img/logo2.png", alt="sponsor image" class="spimage")
                img(src="/static/img/logo1.png", alt="sponsor image" class="spimage")
                img(src="/static/img/logo5.png", alt="sponsor image" class="spimage")
                img(src="/static/img/logo4.png", alt="sponsor image" class="spimage")